$blue: rgb(12, 47, 163);

$red: rgb(165, 8, 15);

$green: rgb(84, 194, 56);

$orange: rgb(223, 103, 4);

$white: rgb(255, 255, 255);

$black: rgb(0, 0, 0);

$gray: rgb(76, 75, 75);
$gray-light: rgb(221, 221, 221);
$gray-ultra-light: rgb(242, 242, 242);