html {
  font-size: 10px;
  /* each 1rem = 10px */
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
}

html, body {
  margin: 0;
  padding: 0;
}

footer {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

footer a {
  font-weight: bold;
  color: #0c2fa3;
  text-decoration: none;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 960px;
}

header img {
  margin-right: 20px;
}

header h3 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}

#container {
  margin: 0 auto;
  max-width: 960px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  max-width: 960px;
}

section div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  padding: 40px 10px;
  margin: 10px 10px;
  text-align: center;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px -4px black;
          box-shadow: 0 0 10px -4px black;
}

section div img {
  width: 48px;
  height: 48px;
}

section div:hover img {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

section div h1 {
  margin-bottom: 30px;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

section div h3 {
  margin: 0;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

section div h4 {
  margin: 0;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-weight: normal;
}

section div span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 2.8rem;
}

#cases {
  border: 1px solid #0c2fa3;
  background-color: rgba(12, 47, 163, 0.7);
}

#deaths {
  border: 1px solid #a5080f;
  background-color: rgba(165, 8, 15, 0.9);
}

#recovered {
  border: 1px solid #54c238;
  background-color: #54c238;
}

#cases:hover, #deaths:hover, #recovered:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#actives, #critical {
  padding: 10px;
  border: 1px solid #df6704;
  background-color: #df6704;
}

.total-actives, .total-critical {
  margin-top: 0;
}

#date {
  padding: 2px 0;
  margin: 0;
}

#date span {
  margin: 0 auto;
  color: #4c4b4b;
  font-family: "Barlow", sans-serif;
  font-size: 1.4rem;
}

#filter {
  padding: 10px;
  margin: 0 auto;
}

#filter #select-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 15px 10px;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 0 1px 4px #dddddd;
          box-shadow: 0 1px 4px #dddddd;
  border-radius: 2px;
}

#filter #select-filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
  color: #4c4b4b;
  font-size: 1.6rem;
  cursor: pointer;
}

#filter #select-filter::after {
  padding: 17px;
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  background: #dddddd;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

.table-data {
  margin: 10px;
  padding: 15px;
  overflow-x: auto;
}

.table-data:hover img {
  -webkit-animation-name: slidex;
          animation-name: slidex;
}

.table-data p {
  padding: 8px 10px;
  margin: 0px 0px 15px 0;
  font-size: 1.3rem;
  background: #f2f2f2;
  text-align: right;
  letter-spacing: 0.4px;
  border: 1px solid #dddddd;
}

.table-data table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  color: #4c4b4b;
}

.table-data table div {
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.table-data table tr {
  border-bottom: 1px solid #dddddd;
}

.table-data table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-data table tr th.country {
  width: 30%;
  text-align: center;
}

.table-data table tr td {
  padding: 10px 5px;
  font-size: 1.3rem;
}

.table-data table tr td img {
  width: 32px;
  height: 23px;
}

.table-data table thead tr {
  border-bottom: 0px solid #f2f2f2;
}

.table-data table thead th {
  padding: 5px;
  outline: 0;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}
/*# sourceMappingURL=app.css.map */