        html,
        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
        }
        /* 
         *  HEADER
         */
        
        header {
            padding: 20px;
            margin: 0 auto;
            max-width: 960px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        
        header>img {
            width: 60px;
            height: 60px;
        }
        
        header>div {
            margin-left: 20px;
        }
        
        header>div>h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 50px;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        
        header>div>h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: normal;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        /* 
         *  BODY PAGE
         */
        
        #container {
            max-width: 960px;
            margin: 0 auto;
        }
        
        section {
            margin: 10px 0;
            display: flex;
            flex-wrap: wrap;
            justify-items: center;
            justify-content: space-between;
            max-width: 960px;
        }
        
        section>div {
            padding: 40px 10px;
            margin: 10px 10px;
            text-align: center;
            border-radius: 6px;
            box-shadow: 0 0 10px -4px #000;
            flex: 1 1 250px;
        }
        
        section>div:hover {
            transform: scale(1.1);
        }
        
        section>div:nth-child(1) {
            border: 1px solid rgba(12, 47, 163, 1);
            background-color: rgba(12, 47, 163, 0.6);
        }
        
        section>div:nth-child(2) {
            border: 1px solid rgba(165, 8, 15, 1);
            background-color: rgba(165, 8, 15, 0.8);
        }
        
        section>div:nth-child(3) {
            border: 1px solid rgba(84, 194, 56, 1);
            background-color: rgba(84, 194, 56, 0.9);
        }
        
        section>div>img {
            width: 48px;
            height: 48px;
        }
        
        section>div:hover img,
        section>div:hover img,
        section>div:hover img {
            animation-name: slide;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
        
        @keyframes slide {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-30px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        
        section>div>h1 {
            color: #fff;
            font-weight: 400;
            margin-bottom: 30px;
        }
        
        section>div>h3 {
            color: #fff;
            font-weight: 400;
            margin: 0;
        }
        
        section>div>h4 {
            font-size: 13px;
            font-weight: 400;
            font-weight: normal;
            color: #fff;
            margin: 0;
        }
        
        section>div>span {
            font-size: 30px;
            color: #fff;
            display: block;
            margin-top: 20px;
        }
        
        section>div>span:nth-child(2) {
            font-size: 30px;
            color: #fff;
        }
        
        section:nth-child(2)>div {
            margin: 10px;
            padding: 20px 10px;
            text-align: center;
            border-radius: 6px;
            box-shadow: 0 0 10px -4px #000;
            position: relative;
            border: 1px solid #e48303;
            background-color: #f57710;
            box-shadow: 0 0 10px -4px #000;
            flex: 1 1 250px;
            justify-content: space-between;
        }
        
        section:nth-child(2)>div:hover,
        section:nth-child(3)>div:hover {
            transform: none;
        }
        
        section:nth-child(3) {
            display: block;
        }
        
        section:nth-child(3)>div {
            border: 1px solid #fff;
            background-color: #fff;
        }
        
        section:nth-child(3)>div:hover img {
            animation-name: slidex;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
        /* 
         *  FILTER | SELECT COUNTRY
         */
        
        #table .filter {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
        }
        
        #table .filter p {
            margin: 15px 0 0 0;
        }
        /* 
         *  TABLE RESULTS
         */
        
        .table-data {
            overflow-x: auto;
        }
        
        #total p {
            text-align: right;
            margin: 0 5px 4px 0px;
            font-size: 11px;
            font-weight: bold;
        }
        
        table {
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
            width: 100%;
            border-collapse: collapse;
            table-layout: auto;
        }
        
        table thead tr {
            border-bottom: 0px solid #ddd;
        }
        
        table thead th {
            border-bottom: 1px solid #dee2e6;
            padding: 5px;
            text-align: center;
            cursor: pointer;
        }
        
        table tr {
            border-bottom: 1px solid #ddd;
        }
        
        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        table tr td {
            padding: 10px 5px;
        }
        
        table tr td.country {
            width: 30%;
            text-align: center;
        }